.leftSidebar {
    width: 300px;
    padding: 20px 10px;
    color: #fff;
    font-size: 16px;
    background: rgb(11, 105, 136);
    position: fixed;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    overflow-y: scroll;
}